body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Proza Libre", sans-serif;
}

header {
  background-color: #562b81;
  color: white;
}

.navbar {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

img {
  width: 100%;
}

label {
  display: block;
  font-size: 20px;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  margin-bottom: 1rem;
  padding: 15px;
}

textarea {
  height: 140px;
}

button:first-child {
  background-color: #562b81;
  color: white;
  border: none;
  padding: 0.7rem;
  border-radius: 10%;
  font-size: 12px;
}

.second-btn-container > button {
  background-color: #562b81;
  color: white;
  border: none;
  border-radius: 10%;
  padding: 1px 15px;
  margin: 15px;
  font-size: 12px;
}

.entries-link {
  text-decoration: none;
  color: white;
  padding: 22px;
  font-size: 20px;
}

li {
  list-style-type: none;
}
