body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Proza Libre", sans-serif;
}

header {
  background-color: #562b81;
  color: white;
  text-align: left;
  padding-top: 0.2em;
}

img {
  width: 100%;
  padding-bottom: 10px;
  padding-top: 15px;
}

li {
  display: block;
  font-size: 16px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.button-container > button {
  background-color: #562b81;
  color: white;
  border: none;
  padding: 0.4em 1.3em;
  border-radius: 10%;
}

.button {
  font-size: 16px;
}
